body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: rem(30) rem(10);
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	&_show {
		z-index: 150;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;
	}

	&_show .popup__content {
		visibility: visible;
		transform: scale(1);
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__content {
		visibility: hidden;
		transform: scale(0);
		transition: transform 0.3s ease 0s;
		background-color: $primary;
		padding: rem(30);
		width: 100%;
		max-width: rem(600);
		border-radius: rem(3);
		@media (max-width: $mobile) {
			padding: rem(20);
		}
		.lock & {
			visibility: visible;
		}
	}

	&__close {
		display: block;
		position: absolute;
		top: rem(30);
		right: rem(30);
		width: rem(30);
		height: rem(30);
		cursor: pointer;
		z-index: 10;
		@media (max-width: $mobile) {
			top: rem(20);
			right: rem(20);
		}
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(4);
			border-radius: rem(2);
			background-color: $mainColor;
		}
		&::before {
			top: calc(50% - rem(2));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(2));
			transform: rotate(45deg);
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					background-color: $white;
				}
			}
		}
	}

	&__text {
		font-size: rem(18);
		line-height: math.div(22, 17);
		padding-right: rem(40);
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $mobile) {
				margin-bottom: rem(20);
			}
		}
	}
	&__form {
	}
}

.form-popup {
	&__row {
		position: relative;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	&__label {
		font-weight: 400;
		font-size: rem(17);
		line-height: math.div(20, 17);
		color: #516c9a;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}

	&__input {
	}

	&__button {
		@media (min-width: $mobileSmall) {
			min-width: rem(260);
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	&__error {
		position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		color: red;
		font-weight: 500;
		font-size: rem(14);
		line-height: math.div(17, 14);
	}
}
