//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	display: block;
	padding: rem(5) rem(15);
	border-radius: rem(2);
	background-color: $white;
	min-height: rem(45);

	font-weight: 400;
	font-size: rem(14);
	line-height: math.div(17, 14);
	color: #7b7b7b;
	transition: color 0.3s ease 0s;
	&._form-focus {
		color: $mainColor;
	}
	._error &,
	&._error {
		border: rem(2) solid red;
	}
}
textarea.input {
	padding: rem(15) rem(15) rem(5) rem(15);
	@media (max-width: $mobile) {
		padding: rem(15);
	}
	@media (min-width: $mobile) {
		max-height: rem(45);
	}
	resize: none;
}
