// Заголовки, общие БЄМ блоки и проче...
.visually-hidden {
    overflow: hidden;
    width: 0;
    height: 0;
}

//========================================================================================================================================================

.socials {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    gap: rem(18);
    @media (max-width: $pc) {
        gap: rem(15);
    }
    &__item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $white;
        width: rem(43);
        flex: 0 0 rem(43);
        height: rem(43);
        border-radius: 50%;
        transition: all 0.3s ease 0s;
        &._icon-whatsapp {
            background-color: #2dd038;
            box-shadow: 0px rem(8) rem(25) rgba(45, 208, 56, 0.497678);
            @media (any-hover: hover) {
                &:hover {
                    box-shadow: 0px rem(8) rem(30) rgba(45, 208, 56, 0.8);
                }
            }
        }

        &._icon-viber {
            background-color: #7b519d;
            box-shadow: 0px rem(8) rem(25) rgba(123, 81, 157, 0.503797);
            @media (any-hover: hover) {
                &:hover {
                    box-shadow: 0px rem(8) rem(30) rgba(123, 81, 157, 0.8);
                }
            }
        }

        &._icon-telegram {
            background-color: #5bbaf0;
            box-shadow: 0px rem(8) rem(25) rgba(91, 186, 240, 0.5);
            @media (any-hover: hover) {
                &:hover {
                    box-shadow: 0px rem(8) rem(30) rgba(91, 186, 240, 0.8);
                }
            }
        }
    }
}

//========================================================================================================================================================

.title {
    font-weight: 900;
    @include adaptiveValue("font-size", 36, 22);
    line-height: math.div(46, 36);
    &_big {
        @include adaptiveValue("font-size", 40, 24);
        line-height: math.div(51, 40);
    }
}

//========================================================================================================================================================

.garanty {
    background-color: $lightGray;
    @include adaptiveValue("padding-top", 50, 30);
    @include adaptiveValue("padding-bottom", 50, 30);
    &__container {
    }

    &__title {
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 30);
        }
    }

    &__block {
        display: grid;
        @include adaptiveValue("gap", 30, 20, 991.98, 320, 1);
        grid-template-columns: repeat(auto-fit, minmax(rem(245), 1fr));
    }
    &__item {
    }
}
.item-garanty {
    display: flex;
    flex-direction: column;
    text-align: center;
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0px auto;

        flex: 0 0 rem(98);
        width: rem(98);
        height: rem(98);
        background: #ffffff;
        border: rem(1) solid #e8e8e8;
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }

    &__title {
        font-weight: 800;
        font-size: rem(22);
        line-height: math.div(28, 22);
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
    }

    &__text {
        font-size: rem(17);
        line-height: math.div(25, 17);
    }
}

//========================================================================================================================================================

.news-item {
    background-color: $white;
    box-shadow: 0px rem(2) rem(15) rgba(0, 0, 0, 0.0677994);
    transition: all 0.3s ease 0s;
    padding: rem(25);
    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px rem(2) rem(15) rgba(0, 0, 0, 0.1);
        }
    }
    &__image-ibg {
        display: block;
        padding-bottom: percent(146, 215);
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: rem(10);
    }

    &__date {
        font-size: rem(14);
        line-height: math.div(17, 14);
        color: $gray;
    }

    &__title {
        flex: 1 1 auto;
        font-weight: 700;
        font-size: rem(19);
        line-height: math.div(24, 19);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }

    &__text {
        line-height: math.div(19, 18);
    }
}

//========================================================================================================================================================

.breadcrumbs {
    &__container {
    }

    &__list {
        @include adaptiveValue("padding-top", 25, 15);
        padding-bottom: rem(30);
        display: flex;
        align-items: center;
        overflow: auto;
    }

    &__item {
        font-size: rem(15);
        line-height: math.div(18, 15);
        &::before {
            background-color: #7d7d7d !important;
        }
        &::after {
            content: "-";
            padding: 0px rem(5);
            color: #7d7d7d;
        }
        &:last-child {
            color: #7d7d7d;
            &::after {
                display: none;
            }
        }
        a {
            @media (any-hover: hover) {
                &:hover {
                    color: #7d7d7d;
                    &::before {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    &__item,
    &__item a {
        position: relative;
        color: $primary;
        transition: color 0.3s ease 0s;
        white-space: nowrap;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: rem(1);
            bottom: rem(-1);
            background-color: $primary;
            transition: background-color 0.3s ease 0s;
            left: 0;
        }
    }

    &__link {
    }
}

//========================================================================================================================================================

.pagging {
    @include adaptiveValue("padding-top", 50, 30);
    @include adaptiveValue("padding-bottom", 70, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(5);
    &__item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: rem(2) solid #d0d0d0;
        color: #d0d0d0;
        width: rem(28);
        height: rem(28);
        cursor: pointer;

        font-weight: 700;
        font-size: rem(14);
        line-height: math.div(17, 14);
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: $primary;
                border: rem(2) solid $primary;
            }
        }
        &._active {
            color: $primary;
            border: rem(2) solid $primary;
        }
    }
}

//========================================================================================================================================================

.page404 {
    @include adaptiveValue("padding-top", 50, 30);
    @include adaptiveValue("padding-bottom", 50, 30);
    &__container {
        text-align: center;
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: rem(18);
        line-height: math.div(22, 18);
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__button {
        min-width: rem(290);
    }
}

//========================================================================================================================================================

.spinner {
    @include adaptiveValue("margin-top", 100, 70);
    @include adaptiveValue("margin-bottom", 100, 70);
}
