.main-screen {
    position: relative;
    overflow: hidden;
    background-color: $lightGray;
    &__container {
        position: relative;
        z-index: 2;
        @media (min-width: $mobile) {
            display: flex;
            justify-content: space-between;
        }
        min-height: rem(720);
    }

    &__body {
        padding-bottom: rem(80);
        padding-top: rem(160);
        @media (max-width: $tablet) {
            @include adaptiveValue("padding-top", 120, 100);
            @include adaptiveValue("padding-bottom", 40, 20);
        }
        align-self: center;
        flex: 0 0 percent(675, 1140);
    }

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 35, 20, 991.98, 320, 1);
        }
    }

    &__text {
        @include adaptiveValue("font-size", 24, 20);
        line-height: math.div(29, 24);
        span {
            font-weight: 900;
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 35, 20, 991.98, 320, 1);
        }
    }

    &__button {
        min-width: rem(210);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @media (min-width: $tablet) {
            padding-top: rem(160) !important;
        }
        @media (min-width: $mobile) {
            margin-bottom: rem(-5);
            @include adaptiveValue("padding-top", 100, 80);
        }
        @media (max-width: $mobile) {
            margin: 0px auto;
            margin-bottom: -20%;
        }
        img {
            max-width: 100%;
        }
    }

    &__bg-ibg {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }
}

//========================================================================================================================================================
.documents {
    @include adaptiveValue("padding-top", 50, 30);
    @include adaptiveValue("padding-bottom", 70, 40);
    &__container {
    }

    &__title {
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 30);
        }
    }

    &__body {
        display: grid;
        @include adaptiveValue("gap", 30, 20, 991.98, 320, 1);
        grid-template-columns: repeat(auto-fit, minmax(rem(245), 1fr));
    }

    &__item {
        padding: rem(30) rem(20);
        display: flex;
        flex-direction: column;
        text-align: center;

        min-height: rem(190);
        background-color: $white;
        transition: box-shadow 0.3s ease 0s;
        box-shadow: 0px rem(2) rem(15) rgba(0, 0, 0, 0.0677994);
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0px rem(7) rem(30) rgba(0, 0, 0, 0.1);
            }
        }
    }

    &__icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 rem(70);
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }

    &__text {
        font-weight: 600;
        font-size: rem(19);
        line-height: math.div(23, 19);
    }
}

//========================================================================================================================================================

.educational {
    @include adaptiveValue("padding-top", 50, 30);
    @include adaptiveValue("padding-bottom", 70, 40);
    &__container {
    }

    &__title {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: rem(25);
        }
    }

    &__slider {
    }
}

.slider-educational {
    &__swiper {
        margin: rem(-20);
        padding: rem(20);
    }

    &__slide {
        display: flex;
        flex-direction: column;
        background-color: $white;
        box-shadow: 0px rem(2) rem(15) rgba(0, 0, 0, 0.0677994);
        transition: box-shadow 0.3s ease 0s;
        padding: rem(25);
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0px rem(2) rem(15) rgba(0, 0, 0, 0.1);
            }
        }
    }

    &__image-ibg {
        display: block;
        padding-bottom: percent(149, 215);
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: rem(10);
    }

    &__link {
        font-weight: 800;
        font-size: rem(19);
        line-height: math.div(24, 19);
        text-align: center;

        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }

    &__access {
        display: inline-flex;
        align-items: center;
        gap: em(5, 16);

        font-weight: 500;
        font-size: rem(16);
        line-height: math.div(19, 16);
        color: #53b43b;
    }

    &__price {
        font-weight: 800;
        font-size: rem(22);
        line-height: math.div(28, 22);
    }

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: rem(50);
        gap: rem(5);
        .swiper-pagination-bullet {
            cursor: pointer;
            width: rem(12);
            height: rem(12);
            border-radius: 50%;
            background-color: #e4e4e4;
            transition: all 0.3s ease 0s;
            border: rem(2) solid transparent;
            @media (any-hover: hover) {
                &:hover {
                    background-color: $primary;
                }
            }
        }
        .swiper-pagination-bullet-active {
            background-color: $white;
            border: rem(2) solid $primary;
        }
    }
}

//========================================================================================================================================================

.examples {
    background-color: $lightGray;
    @include adaptiveValue("padding-top", 50, 30);
    @include adaptiveValue("padding-bottom", 70, 40);
    &__container {
    }

    &__title {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    &__slider {
        position: relative;
        @include adaptiveValue("padding-right", 65, 30);
        @include adaptiveValue("padding-left", 65, 30);
    }
    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
        }
    }

    &__navigation {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0px, -50%);
        left: 0;

        display: flex;
        justify-content: space-between;
        pointer-events: none;
    }

    &__nav-item {
        font-size: rem(30);
        pointer-events: all;
        color: $gray;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
        &_prev {
        }

        &_next {
            transform: rotate(-180deg);
        }
    }
}

//========================================================================================================================================================
.news {
    @include adaptiveValue("padding-top", 50, 30);
    @include adaptiveValue("padding-bottom", 70, 40);
    &__container {
    }

    &__title {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    &__body {
        @media (min-width: $pc) {
            display: flex;
            gap: rem(30);
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 45, 30);
        }
    }

    &__action {
        @media (min-width: $pc) {
            flex: 0 1 calc(50% - rem(15));
        }
        @media (max-width: $pc) {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    }

    &__latest {
        @media (min-width: $pc) {
            flex: 0 1 calc(50% - rem(15));
        }
    }

    &__more {
        display: flex;
        margin: 0px auto;
        @media (min-width: $mobileSmall) {
            max-width: rem(225);
        }
    }
}
.action-news {
    position: relative;
    background-color: $lightGray;
    box-shadow: 0px rem(2) rem(15) rgba(0, 0, 0, 0.0677994);
    padding: rem(40) rem(0) rem(40) rem(30);
    @media (max-width: $pc) {
        padding: rem(40) rem(30);
    }
    @media (min-width: em(630)) {
        display: flex;
        justify-content: space-between;
    }
    @media (max-width: em(630)) {
        padding: rem(20);
    }

    &__content {
        flex: 0 0 percent(272, 555);
        position: relative;
        z-index: 2;
        @media (max-width: $mobile) {
            flex: 0 0 70%;
        }
        @media (max-width: em(630)) {
            text-align: center;
        }
    }

    &__title {
        font-weight: 700;
        font-size: rem(24);
        line-height: math.div(33, 24);
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
        span {
            color: $primary;
        }
    }

    &__text {
        line-height: math.div(24, 16);
    }

    &__image {
        @media (max-width: $mobile) {
            display: none;
        }
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
        }
    }

    &__bg-ibg {
        pointer-events: none;
        position: absolute;
        width: rem(240);
        height: 100%;
        top: 0;
        right: 0;
        @media (max-width: em(630)) {
            display: none;
        }
    }
}

.latest-news {
    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(auto-fit, minmax(rem(262), 1fr));
    &__item {
    }
}
